.root {
	background-color: inherit;
	border-color: transparent;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	color: light-dark(black, var(--content-color));
	cursor: pointer;
	font-family: var(--font-family);
	min-width: 16px;
	text-align: center;
}

.root:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

.today {
	border-color: var(--primary-color);
}
