.root {
	background-color: var(--input-background-color);
	border-color: var(--border-color);
	border-radius: 6px;
	border-style: var(--border-style);
	border-width: var(--border-width);
	color: var(--color);
	font-family: var(--font-family);
	line-height: 22px;
	padding: 4px;
}

.root:hover {
	border-color: var(--hover-color);
}

.large {
	border-radius: 8px;
	line-height: 24px;
	padding: 7px;
}

.small {
	border-radius: 4px;
	padding: 0;
}

.suffix {
	display: inline-block;
}
